body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #134074;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
    height: 100vh;
    background-color: #FFDC13;
    width: 180px;
    position: fixed;
}

.nav-placeholder {
    width: 180px;
}

a {
    color: #0B2545;
    /*     color: #13315C; */
    text-decoration: none;
}

.loading-container {
    position: relative;
    top: 200px;
}

.btn-color{
    background-color: #FFFFFF;
    color: #0B2545;
    border: none;
}

.btn-color:hover {
    background-color: #13315C;
}

.btn-color:focus{
    background-color: #FFFFFF;
    color: #0B2545;
    border: none;
}

.btn-search {
    background-color: #FFDC13;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

/* input:active {
    border: 2px solid yellow;
} */

.latent-table {
    background-color: white;
    position: relative;
}

.view-latent-button {
    color: white;
    position: absolute;
    left: -30px;
}

.back-icon {
    color: white;
    cursor: pointer;
}

.add-comparison-icon {
    color: white;
    cursor: pointer;
}

.comparison-line {
    border-top: 3px solid white;
}

.print-case-file-table {
    width: 90%;
    
}

.print-case-file-table td {
    padding-bottom: 5px;
}