body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #134074;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
    height: 100vh;
    background-color: #FFDC13;
    width: 180px;
    position: fixed;
}

.nav-placeholder {
    width: 180px;
}

a {
    color: #0B2545;
    /*     color: #13315C; */
    text-decoration: none;
}

.loading-container {
    position: relative;
    top: 200px;
}

.error-container {
    position: relative;
    top: 200px;
}

.saving-overlay-container {
    /* position: absolute;
    z-index: 2;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%; */
    position: relative;
    top: 200px;
}

.btn-color{
    background-color: #FFFFFF;
    color: #0B2545;
    border: none;
}

.btn-color:hover {
    background-color: #13315C;
}

.btn-color:focus{
    background-color: #FFFFFF;
    color: #0B2545;
    border: none;
}

.btn-search {
    background-color: #FFDC13;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/*Shared modal styling*/
.add-modal {
    color: black;
    text-align: center;
}

.add-modal-form{
    text-align: left;
}


/* input:active {
    border: 2px solid yellow;
} */


/* Add new case page */
#add-new-case-main-container{
    position: relative;
}


.latent-table {
    background-color: white;
    position: relative;
}

.view-latent-button {
    color: white;
    position: absolute;
    left: -30px;
}

.back-icon {
    color: white;
    cursor: pointer;
}

.add-comparison-icon {
    color: white;
    cursor: pointer;
}

.comparison-line {
    border-top: 3px solid white;
}

.print-case-file-table {
    width: 100%;
    height: 100%;
    max-height: 140px;
    overflow-y: auto;
}

.print-case-file-table td {
    padding-bottom: 5px;
}

/* Display Latent Info Component */


/* Add Print Case file modal */
#add-print-case-file-title {
    width: 100%;
}


/* Add lift modal */
#add-lift-modal-title {
    width: 100%;
}

/* display lift */

.lift-image-container{
    margin: auto;
    width: 400px;
    height: 400px;
    border: 1px solid gray;
}